<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMDM_2324"
        tools:targetApi="31">
        <activity
            android:name=".PracticasAntesExamen.ConsumirAPIVB.ActividadConsumirAPIPeliculas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut9.ut9a2Coches"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut9.Prueba.ut9a1Personajes"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut9.Prueba.RickAndMortyRepo"
            android:exported="false" />
        <activity
            android:name=".ut08.ut8a3_ParesONones"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut08.ut8a2_CalculadoraSuma"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut06_RecycleView.UT06Ejercicio1Navidad"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut08.ut8a1NumeroAleatorioPrimo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut06_RecycleView.Ut06Lista"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut05.EjemploPermisosAvanzados"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04_Fragments.ut403MainPingPong"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04_Fragments.ut402MainMonstruoConFragments"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04_Fragments.ut401MainBuenaPersona"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04_Fragments.ut400MainCambiarColorImagenEstrella"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ejerciciosBasicos.LanzadorFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut308MostrarMonstruo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut308MonstruoMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut309MainIntentImplicito"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut306ConversorTextoLetras"
            android:exported="false" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut306MainTextoContadorLetras"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut307SelectorArmas"
            android:exported="false" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut307SelectorPersonajesJugador1"
            android:exported="false" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut307SelectorPersonajesJugador2"
            android:exported="false" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut307MetalSlugMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut305SiguienteNumero"
            android:exported="false" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut305MainFibonacci"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut304CambioNombre"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut304AnonimoCambioNombre"
            android:exported="true" />
        <activity
            android:name=".ejerciciosBasicos.EjemploBAsicoIdaYVueltaLanzada"
            android:exported="false" />
        <activity
            android:name=".ejerciciosBasicos.EjemploBasicoIdaYVueltaLanza"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.u303ResultadoHeladeria"
            android:exported="false" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.u303Heladeria"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut302CalculadoraResultado"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut302CalculadoraAvanzada"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.u3MainaplicacionQueLanza"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.u3AplicacionLanzada"
            android:exported="false" />
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut01y02.PiedraPapelTijera"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut01y02.ut02_ej05_pedirCita"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut01y02.Propinatron2000"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut01y02.ut201_Colores"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03_PasosDeDatosEntreActividades.ut01y02.ut2_ej01_CajaRadioCheckTextoBoton"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>